body{
	background-color: #315384;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
}	

.container{
	text-align: center;
}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-bottom: 10px;
		background-color: #446293;
		margin-top: 10px;
		color: #fff;
		font-weight: bold;
		text-align: center;
	}

	ul li{
		padding-top: 1em;
		padding: 1em;
		border-bottom: 1px solid gray;
		text-align: left;
	}
	li:nth-child(last){
		border-bottom:none;
	}
	ul li button{
		margin: 0px 0px 0px 20px;
		float: right;
		transform: translateY(-6px);
	}

.hide{
	display: none;
}